<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web">
            <group id="seo" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="html_processor_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="html_processor_stylesheet" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Stylesheet</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Move stylesheets on the page bottom.</comment>
                    <depends>
                        <field id="adrem_seo/processor/html_processor_enabled">1</field>
                    </depends>
                </field>
                <field id="html_processor_script" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Script</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Move scripts on the page bottom.</comment>
                    <depends>
                        <field id="adrem_seo/processor/html_processor_enabled">1</field>
                    </depends>
                </field>
                <field id="html_processor_spaceless" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove white space</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Minimize HTML content.</comment>
                    <depends>
                        <field id="adrem_seo/processor/html_processor_enabled">1</field>
                    </depends>
                </field>
                <field id="html_processor_remove_comments" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove white space</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Remove HTML comments.</comment>
                    <depends>
                        <field id="adrem_seo/processor/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
